In [1]:
#!/usr/bin/env python3
"""
Test script to verify the cross-section scaling functionality
"""

import pandas as pd
from elements import scale_cross_section, ne2p

# Original 2p data
print("Original ne2p cross-section data (first 5 rows):")
print(ne2p[["Photon Energy", "cs0", "cs1", "cs2"]].head())
print(f"\nSum of cs0 for 2p orbital: {ne2p['cs0'].sum():.4f}")

# Scaled versions
ne2p_1half = scale_cross_section(ne2p, 1/3)
ne2p_3half = scale_cross_section(ne2p, 2/3)

print("\n" + "="*60)
print("2p1/2 orbital (scaled by 1/3):")
print(ne2p_1half[["Photon Energy", "cs0", "cs1", "cs2"]].head())
print(f"Sum of cs0 for 2p1/2: {ne2p_1half['cs0'].sum():.4f}")

print("\n" + "="*60)
print("2p3/2 orbital (scaled by 2/3):")
print(ne2p_3half[["Photon Energy", "cs0", "cs1", "cs2"]].head())
print(f"Sum of cs0 for 2p3/2: {ne2p_3half['cs0'].sum():.4f}")

print("\n" + "="*60)
print("Verification:")
print(f"2p1/2 + 2p3/2 = {ne2p_1half['cs0'].sum():.4f} + {ne2p_3half['cs0'].sum():.4f}")
print(f"              = {(ne2p_1half['cs0'].sum() + ne2p_3half['cs0'].sum()):.4f}")
print(f"Original 2p   = {ne2p['cs0'].sum():.4f}")
print(f"Match: {abs((ne2p_1half['cs0'].sum() + ne2p_3half['cs0'].sum()) - ne2p['cs0'].sum()) < 0.0001}")

Original ne2p cross-section data (first 5 rows):
   Photon Energy      cs0      cs1      cs2
0          20.00  828.400  828.700  829.200
1          21.22    6.514    6.509    6.492
2          25.00    8.108    8.114    8.106
3          26.86    8.544    8.559    8.553
4          30.00    8.970    8.986    8.982

Sum of cs0 for 2p orbital: 1001.5526

============================================================
2p1/2 orbital (scaled by 1/3):
   Photon Energy         cs0         cs1      cs2
0          20.00  276.133333  276.233333  276.400
1          21.22    2.171333    2.169667    2.164
2          25.00    2.702667    2.704667    2.702
3          26.86    2.848000    2.853000    2.851
4          30.00    2.990000    2.995333    2.994
Sum of cs0 for 2p1/2: 333.8509

============================================================
2p3/2 orbital (scaled by 2/3):
   Photon Energy         cs0         cs1      cs2
0          20.00  552.266667  552.466667  552.800
1          21.22    4.342667    4.339333    4.328
2          25.00    5.405333    5.409333    5.404
3          26.86    5.696000    5.706000    5.702
4          30.00    5.980000    5.990667    5.988
Sum of cs0 for 2p3/2: 667.7017

============================================================
Verification:
2p1/2 + 2p3/2 = 333.8509 + 667.7017
              = 1001.5526
Original 2p   = 1001.5526
Match: True

In [106]:
import pandas as pd
a = pd.read_csv('database/neAuger.txt',sep=",", header = None, names=["name","energy","channel","intensity","origin"])
a["origin"] = a["origin"].astype("string")

In [107]:
a

            name  energy   channel  intensity origin
0   'Ne_KLL_1S0'   748.5     'KLL'       1.00   '1s'
1   'Ne_KLL_1P1'   771.0     'KLL'       2.76   '1s'
2  'Ne_KLL_3P02'   782.0     'KLL'       1.10   '1s'
3   'Ne_KLL_1S0'   800.0     'KLL'       1.57   '1s'
4   'Ne_KLL'_1D2   803.6     'KLL'       9.81   '1s'

In [108]:
a.loc[a['origin'].str.contains('1s'), "intensity"] = a.loc[a['origin'].str.contains('1s'), "intensity"]/a.loc[a['origin'].str.contains('1s'), "intensity"].sum()
a.loc[a['origin'].str.contains('4d3/2'), "intensity"] = a.loc[a['origin'].str.contains('4d3/2'), "intensity"]/a.loc[a['origin'].str.contains('4d3/2'), "intensity"].sum()
a.loc[a['origin'].str.contains('4d5/2'), "intensity"] = a.loc[a['origin'].str.contains('4d5/2'), "intensity"]/a.loc[a['origin'].str.contains('4d5/2'), "intensity"].sum()
a.loc[a['origin'].str.contains('4p3/2'), "intensity"] = a.loc[a['origin'].str.contains('4p3/2'), "intensity"]/a.loc[a['origin'].str.contains('4p3/2'), "intensity"].sum()
a.loc[a['origin'].str.contains('3p3/2'), "intensity"] = a.loc[a['origin'].str.contains('3p3/2'), "intensity"]/a.loc[a['origin'].str.contains('3p3/2'), "intensity"].sum()

In [109]:
a

            name  energy   channel  intensity origin
0   'Ne_KLL_1S0'   748.5     'KLL'   0.061576   '1s'
1   'Ne_KLL_1P1'   771.0     'KLL'   0.169951   '1s'
2  'Ne_KLL_3P02'   782.0     'KLL'   0.067734   '1s'
3   'Ne_KLL_1S0'   800.0     'KLL'   0.096675   '1s'
4   'Ne_KLL'_1D2   803.6     'KLL'   0.604064   '1s'

In [ ]:
#a.to_csv("database/neAuger.txt", sep=",", index=False,header=False)